{% block simple_recaptcha_widget %}
    {% set label = button %}
    {% set pathSimpleRecaptcha = app.session.get('pathSimpleRecaptcha') %}
    <div class="form-group">
        <label for="SimpleRecaptcha">
            <img src="{{ asset(simpleRecaptchaImage(app.session)) }}" alt="Simple Recaptcha">
        </label>
        <input type="text" class="form-control" id="SimpleRecaptcha" name="SimpleRecaptcha" placeholder="Recaptcha" required>
        <small id="SimpleRecaptchaHelp" class="form-text text-muted">Please enter Recaptcha.</small>
    </div>
    {% block submit_widget %}
    {% endblock %}
{% endblock %}